.container{
    display: flex;
    margin: 4rem 0;
    background-color: var(--color-white);
    border-radius: 20px;
    font-size: 1rem;
    color: var(--color-black) !important;
    overflow: hidden;
}

.left{
    background-color: var(--color-blue);
    width: 60%;
    min-height: 80vh;
    border-radius: 20px;
    box-shadow: 1px 2px 12px 3px #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    min-height: 80vh;
    padding: 4rem;
    width: 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.google{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #eee;
    padding: 0.3rem 2rem;
    border-radius: 5px;
    margin-top: 20px;
    /* margin-bottom: 60px; */
}

.input{
    background-color: #eee;
    display: flex;
    padding: 1rem;
    margin: 15px 0 15px 0;
}

.no_password{
    margin-top: 20px;
}



/* // Very Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) { 
 
 }

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .container{
        flex-direction: column;
    }
  .left{
        height: 100px;
        min-height: 0;
        width: 100% !important;
    }
    .right{
        width: 100% !important;
        padding: 1rem;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
   .left{
        width: 10%;
        position: relative;
    }
    .right{
        width: 90% ;
    }

  
 }

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    /* .left{
        width: 30% !important;
    }
    .right{
        width: 70% !important ;
    } */
  
}



/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
  .left{
    width: 30%;
  }
  .right{
    width: 70%;
  }
  
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) { 
 
 }
