@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root { 
 /*Colors  */
  --color-red: #FD043C;
  --color-blue: #342B5A;
  --color-cream: #FFF5EC;
  --color-white: #FFFFFF;
  --color-gray: #ABA49C;
  --color-black: #3d3d3d;

  /* Font Family */
  --ff-poppins: 'Poppins', sans-serif;
  --ff-pacifico: 'Pacifico', cursive;

  /* Font weight */
  --fw-strong: 800;
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;


  /* Font size */
  --fs-xl: 2.5em;
  --fs-lg: 1.3em;
  --fs-md: 1.1em;
  --fs-sm: 0.95em;
  --fs-xs: 0.8em;
}


.fs-xl{
  font-size: 2.5rem;
}

.fs-lg{
  font-size: 1.3rem;
}

.fs-md{
  font-size: 1.1rem;
}

.fs-sm{
  font-size: 0.9rem;
}

.fs-xs{
  font-size: 0.8rem;
}

.logo{
  font-family: var(--ff-pacifico);
  color: var(--color-red);
  font-size: var(--fs-xl);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-poppins);
  color: var(--color-gray);
}

body{
  background-color: var(--color-cream);
}

input{
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #342B5A;
  font-weight: var(--fw-medium);
}

.title{
  font-weight: var(--fw-bold);
}

.list-none{
  list-style: none;
}

/* FLEX */

.d-flex{
  display: flex;
}
.d-none{
  display: none;
}
.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.justify-center{
  justify-content: center;
}

.items-center{
  align-items: center;
}

.self-center{
  align-self: center;
}


/* MARGIN */

.mr-auto{
  margin-right: auto;
}

.ml-auto{
  margin-left: auto;
}

/* PADDING */
.p-sm{
  padding: 1.1rem;
}

.p-lg{
  padding:2rem;
}

.container{
  width: 100%;
}

.container-parent{
width: 100vw;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
}


a{
  text-decoration: none;
}
.btn{
  border: none;
  outline: none;
}

/* // Very Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) { 
  .container{
    width: 95% 
  }
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .container{
    max-width: 540px 
  }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .container{
    max-width: 720px;
  }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .container{
    max-width: 960px;
  }
  
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .container{
    max-width: 1140px;
  }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  .container{
      max-width: 1320px;
  }
 }
